body {
  margin: 0;
  font-family: Arial,sans-serif;
  text-align:center;
  background-color:#1e232a;
  color:white;
}
h1 {
  font-weight:700;
}
h2 {
  font-weight:400;
}
footer {
  font-style:italic;
  margin-top:80vh;
}